.textField {
  --color: rgba(0, 0, 0, 0.25);

  position: relative;
  transition-property: opacity;
  transition-duration: 300ms;

  &.-hasError {
    --color: #f44336;
  }

  &.-isDisabled {
    opacity: 0.5;
  }

  &_label {
    position: absolute;
    top: 12px;

    color: var(--color);
    font-size: 12px;
    line-height: 1;

    transition-property: color, transform;
    transition-duration: 300ms;
    transform-origin: top left;
    cursor: text;
    user-select: none;

    &.-expand {
      transform: translateY(12px) scale(calc(16 / 12));
    }

    &.-isFocused {
      color: var(--primaryColor);
    }

    &:not(.-isRightAligned) {
      transform-origin: top left;
      left: 12px;
    }

    &.-isRightAligned {
      transform-origin: top right;
      right: 12px;
    }
  }

  &_input {
    --borderColor: var(--color);
    background-color: rgba(0, 0, 0, 0.025);
    border: none;
    border-bottom: 2px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    padding: 32px 12px 14px;
    width: 100%;

    font-family: inherit;
    font-size: 16px;
    line-height: 1;
    caret-color: var(--primaryColor);

    transition-property: border-bottom-color;
    transition-duration: 300ms;

    &[type="password"] {
      font-weight: 900;
      letter-spacing: 0.5ch;
    }

    &[type="number"] {
      appearance: textfield;
      text-align: right;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        display: none;
      }
    }
  }

  &_input:focus {
    --borderColor: var(--primaryColor);
  }

  &_error {
    margin: 0;
    margin-top: 6px;
    padding: 0 12px;

    font-size: 12px;
    line-height: 1;
    color: var(--color);
  }
}
