* {
  box-sizing: border-box;
  outline: none;
}

:root {
  --primaryColor: #11207a;
}

::selection {
  color: inherit;
  background-color: rgba(#11207a, 0.15);
}

body {
  margin: 0;

  line-height: 1.5;
  font-size: 14px;
  font-family: Ubuntu, Cantarell, "Segoe UI", Roboto, -apple-system, sans-serif;

  cursor: default;
}
