.header {
  display: grid;
  grid-area: header;
  grid-template-areas: "class time logo";
  grid-template-columns: 1fr repeat(2, auto);

  padding: 65rem;
  gap: 65rem;

  &_logo {
    grid-area: logo;
    height: calc(100vh / 3 - 65rem * 2);
  }

  &_datetime {
    grid-area: time;
    text-align: right;
    line-height: 1;
    align-self: end;
  }

  &_date {
    display: block;
    grid-area: date;
    margin-bottom: 25rem;

    font-size: 50rem;
  }

  &_time {
    grid-area: time;
  }

  &_class {
    align-self: end;
    grid-area: class;
  }

  &_currentClass {
    margin: 0;
    margin-bottom: 25rem;

    font-size: 40rem;
    font-weight: normal;
  }

  &_nextClass {
    margin: 0;
    color: var(--gray);
  }
}

.time {
  color: var(--primaryColor);
  font-size: 150rem;
  font-weight: bold;

  &_colon {
    animation-name: blink;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
