.button {
  height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-shrink: 0;

  border: none;
  border-radius: 5px;

  color: var(--text);
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.0125em;

  transition-property: opacity, box-shadow, background-color, color, filter;
  transition-duration: 300ms;

  &.-isBright {
    --background: var(--primaryColor);
    --text: #ffffff;

    background-color: var(--background);

    &:not(:disabled) {
      &:hover {
        opacity: calc(2 / 3);
      }

      &:active {
        opacity: calc(1 / 3);
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px var(--background);
      background-color: var(--color);
      color: var(--background);

      .button_icon path {
        fill: var(--background);
      }
    }
  }

  &.-isLight {
    --color: 17, 32, 122;
    --text: rgb(var(--color));

    background-color: rgba(var(--color), 0.05);

    &:not(:disabled) {
      &:hover {
        background-color: rgba(var(--color), 0.1);
      }

      &:active {
        background-color: rgba(var(--color), 0.2);
      }
    }

    &:focus {
      background-color: #ffffff;
      box-shadow: 0 0 0 2px var(--text);
    }
  }

  &:disabled {
    opacity: 0.5;
  }

  &_icon {
    &:not(:last-child) {
      margin-right: 8px;
    }

    path {
      fill: var(--text);

      transition-property: fill;
      transition-duration: 300ms;
    }
  }
}
