@import "../card.scss";

.driveEjection {
  &_container {
    padding: 64px;
    padding-top: 0;
  }

  &_help,
  &_placeholder {
    margin: 0;
    max-width: 512px;
    line-height: 1.5;
    color: rgba(black, 0.5);
  }

  &_help {
    font-size: 16px;
    margin-bottom: 64px;
  }

  &_placeholder {
    font-size: 32px;
  }

  &_drives {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(64px * 7, 1fr));
    gap: 32px;
  }
}

.drive {
  @extend %card;
  display: grid;
  grid-template-columns: 64px 1fr auto;
  grid-template-areas: "icon name eject";
  min-height: 64px;
  align-items: center;
  word-break: break-word;

  &_icon {
    grid-area: icon;
    justify-self: center;
    fill: rgba(black, 0.25);
  }

  &_name {
    grid-area: name;
    text-overflow: ellipsis;
    font-weight: normal;
  }

  &_eject {
    grid-area: eject;
    margin: ((64px - 36px) / 2);
  }
}
