#dialogs {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: none;
  padding: 64px;
  background-color: transparent;

  transition-property: background-color;
  transition-duration: 300ms;

  &:empty {
    display: none;
  }

  &::after {
    content: "";
    height: 64px;
    width: 100%;
    flex-shrink: 0;
  }

  &::backdrop {
    background-color: transparent;
  }

  &.-showBackground {
    background-color: rgba(0, 0, 0, 0.32);
  }
}

.dialog {
  max-width: 512px;
  width: 100%;
  padding: 32px;

  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05),
    0 3px 9px rgba(0, 0, 0, 0.05), 0 4px 16px rgba(0, 0, 0, 0.05);

  animation-fill-mode: both;
  animation-duration: 300ms;

  &:not(.-isClosing) {
    animation-name: appear;
  }

  &.-isClosing {
    animation-name: disappear;
  }

  &_close {
    width: 32px;
    height: 32px;
    padding: 0;

    flex-grow: 0;
    flex-shrink: 0;
    align-self: start;

    border: none;
    background: none;

    transition-property: opacity;
    transition-duration: 300ms;

    &:hover {
      opacity: calc(2 / 3);
    }

    &:active {
      opacity: calc(1 / 3);
    }

    path {
      fill: rgba(0, 0, 0, 0.5);
      transition-property: fill;
      transition-duration: 300ms;
    }

    &:focus path {
      fill: var(--primaryColor);
    }
  }

  &_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: sticky;
    bottom: -65px;

    padding: 14px 32px 15px;
    margin: 32px -32px -33px;

    transition-property: border-radius, box-shadow;
    transition-duration: 300ms;

    &.-isSticky {
      background: #ffffff;
      box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05), 0 -2px 4px rgba(0, 0, 0, 0.05);
    }

    &:not(.-isSticky) {
      border-radius: 0 0 5px 5px;
    }

    :not(:last-child) {
      margin-right: 16px;
    }
  }
}

@keyframes appear {
  from {
    transform: translate3d(0, 128px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(0, 128px, 0);
    opacity: 0;
  }
}
