* {
  box-sizing: border-box;
}

:root {
  font-size: calc(100vh / 1080);

  --fontFamily: Ubuntu, Cantarell, sans-serif;

  --gray: rgb(0 0 0 / 0.5);
  --primaryColor: #11207a;
}

:root.-hideCursor {
  cursor: none;
}

body {
  margin: 0;

  font-family: var(--fontFamily);
  font-size: 30rem;
}

main {
  display: grid;
  grid-template-areas:
    "classes header"
    "classes videos";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;

  width: 100vw;
  height: 100vh;
}
