@import "../card.scss";

.rings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(289px, 1fr));
  align-items: start;
  gap: 64px;

  list-style: none;
  margin: 0;
  padding: 0 64px 64px;
}

.ringSchedule {
  padding: 32px;

  @extend %card;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;

    // В идеале будет просто gap и без margin на заголовке, но это слишком
    // современно для хрома.
    row-gap: 16px;
    margin-bottom: 32px;
  }

  &_name {
    margin: 0;
    margin-right: 16px;

    font-weight: normal;
    font-size: 24px;
  }

  &_activate.-isBright {
    --background: #4caf50;

    margin-left: auto;
  }

  &_schedule {
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
    list-style: none;

    font-size: 24px;
    line-height: 1;
    counter-reset: class;
  }

  &_class {
    counter-increment: class;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &::before {
      display: inline-block;
      width: 32px;
      margin-right: 32px;

      content: counter(class);
      color: rgba(0, 0, 0, 0.25);
      text-align: right;
    }
  }

  &_edit {
    margin-left: auto;
  }
}

.ringScheduleEditor {
  &_header {
    display: flex;
    margin-bottom: 32px;
  }

  &_name {
    flex-grow: 1;
    margin-right: 32px;
  }

  &_rings {
    counter-reset: class;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &_class {
    display: grid;
    grid-template-columns: 64px repeat(3, 64px auto) 64px 64px;
    align-items: baseline;

    counter-increment: class;

    &::before {
      content: counter(class);
      width: 32px;
      justify-self: start;

      font-size: 24px;
      text-align: right;
      color: rgba(0, 0, 0, 0.5);
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &_deleteClass {
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    justify-self: end;
    align-self: center;
    transition-property: opacity;
    transition-duration: 300ms;

    svg {
      fill: rgba(0, 0, 0, 0.5);
      transition-property: fill;
      transition-duration: 300ms;
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.25;
    }

    &:focus svg {
      fill: var(--primaryColor);
    }
  }

  &_separator {
    flex-grow: 1;
    text-align: center;
  }

  &_timePart {
    width: 64px;
    flex-grow: 0;
  }

  &_addClass {
    height: 0;
    margin-top: -16px;
    margin-bottom: 16px;

    button {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      margin-left: 16px;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 300ms;

      &:hover,
      &:focus {
        opacity: 1;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  &_delete.-isLight {
    --color: 244, 67, 54;
  }

  &_save.-isBright {
    --background: #4caf50;
  }

  &_error {
    text-align: right;
    color: #f44336;
    font-size: 12px;
  }
}
