.tabs {
  background-color: #fafafa;
  overflow: hidden;

  transition-property: width;
  transition-duration: 300ms;

  &_container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: start;

    width: 256px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &.-isExpanded {
    width: 256px;

    .tab:first-child .tab_icon {
      transform: scaleX(-1);
    }
  }

  &:not(.-isExpanded) {
    width: 64px;
  }
}

.tab {
  --color: rgba(0, 0, 0, 0.25);

  height: 64px;
  color: var(--color);

  transition-property: color;
  transition-duration: 300ms;

  user-select: none;

  &.-isActive {
    --color: var(--primaryColor);
  }

  &:last-child {
    margin-top: auto;
  }

  a,
  button {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 0;

    border: none;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    cursor: default;
    font-family: inherit;
    font-size: inherit;

    transition-property: box-shadow, background-color;
    transition-duration: 300ms;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:focus {
      box-shadow: 2px 0 0 var(--primaryColor) inset;
    }
  }

  &_icon {
    transition-property: transform;
    transition-duration: 300ms;

    path {
      fill: var(--color);

      transition-property: fill;
      transition-duration: 300ms;
    }
  }
}
