.authentication {
  display: grid;
  grid-template-areas:
    "logo   title"
    "logo   main"
    "footer footer";
  grid-template-columns: 192px 1fr;
  grid-template-rows: 64px 1fr 64px;
  gap: 64px;
  padding: 64px;
  min-height: 100vh;

  &_header {
    display: contents;
  }

  &_title {
    margin: 0;

    font-size: 48px;
    font-weight: normal;
    line-height: 64px;
  }

  &_logo {
    grid-area: logo;
    align-self: start;
    width: 100%;
  }

  &_tokenField {
    width: 448px;
    margin-bottom: 28px;
  }

  &_footer {
    grid-area: footer;
    justify-self: start;
    max-width: 512px;
  }

  &_license {
    margin: 0;
  }

  &_sourceCode {
    color: var(--primaryColor);
  }
}
