.controlPanel {
  display: grid;
  grid-template-areas: "tabs content";
  grid-template-columns: auto 1fr;
  height: 100vh;

  .tabs {
    grid-area: tabs;
  }

  &_content {
    grid-area: content;
    overflow: auto;

    box-shadow: -1px 0 1px rgba(0, 0, 0, 0.05), -2px 0 4px rgba(0, 0, 0, 0.05);
  }
}
