.content {
  grid-area: videos;
  background: #000;
  font-size: 0;
  border-top-left-radius: 100rem;
  overflow: hidden;

  &_mask {
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
  }

  &_inner {
    max-width: 100%;
    width: 100%;
    height: calc(100vh * 2 / 3);
    object-fit: contain;
  }
}

::cue {
  font-family: var(--fontFamily);
}
