.classes {
  grid-area: classes;
  align-self: end;
  border-spacing: 25rem;
  vertical-align: bottom;
}

.class {
  &_grade,
  &_subject,
  &_cabinet {
    width: 100%;
    padding: 0;
    vertical-align: top;
  }

  &_grade {
    width: auto;

    color: var(--primaryColor);
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
  }

  &.-noClass &_grade {
    color: var(--gray);
  }

  &_subject {
    &.-isWindow {
      color: var(--gray);
    }

    &.-isElective {
      color: #f44336;
    }
  }

  &_cabinet {
    color: var(--gray);
    text-align: right;
  }
}
