.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 64px;
  margin: 64px 0;
  padding-left: 64px;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: #ffffff;

  transition-property: box-shadow;
  transition-duration: 300ms;

  &.-isFixed {
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.25), 2px 0 4px rgba(0, 0, 0, 0.25),
      3px 0 9px rgba(0, 0, 0, 0.25), 4px 0 16px rgba(0, 0, 0, 0.25);
  }

  &_title {
    margin: 0;

    font-size: 48px;
    font-weight: normal;
    line-height: 64px;

    transition-property: font-size;
    transition-duration: 300ms;
  }

  &.-isFixed &_title {
    font-size: 36px;
  }

  &_buttons {
    margin-right: 64px;

    &:empty {
      display: none;
    }
  }
}
